* {
	box-sizing: border-box;
	/* background: rgb(0 100 0 / 0.2) !important; */
	margin: 0 auto;
	padding: 0; 
	/* outline: 1px solid red !important; */
	/* display: block; */
}

.wrapper {
	width: 700px;
}


.conainer {
	width: 700px;
	height: 100%;
	background-color: antiquewhite;	
}


.label {
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	flex-direction: column-reverse;
	margin: 0;
	background-color: aqua;
}

.label_container{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: center;
	align-items: center;
}

input {
	display: none;
   }

p {
	padding: 0;
	margin: 0;
	color: blue;
	font-weight: bold;
	transition: color .5s;
}


input:checked + .label_container p {
	color: black;

}

.wrapper:hover .label_container p {
	color: black;

}

/* ИЗМЕНЯТЬ НАЧАЛ ТУТ */
input:checked + .label .img,
.label:hover .img  {
	height: 200px;
}

input:checked + .label .img .main_img,
.label:hover .img .main_img {
	height: 70px;
	opacity: 1;
}


.icon {
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	padding: 0;
	margin: 0;
	width: 20px;
	height: 20px;
	background-image: url("person.png");
	transition: all .2s;
}

input:checked + .label .icon .circle,
.label:hover .icon .circle {
	background-image: url("search.png");
}

.img {
	display: block;
	width: 100%;
	height: 0;
	transition: all .2s;
	cursor: pointer;
}



.main_img {
	width: 50px;
	height: 0;
	opacity: 0;
	/* background-color: red; */
	background-image: url("img/html-1.jpg");
	background-size: contain;
	transition: all .2s;
}

.img:active > .main_img,
.img:active ~ .label_container p,
.img:active ~ .label_container .icon .circle {
	mix-blend-mode: hue;
}


